<link rel="stylesheet" href="\static\css\new.css">

  <br >
  
  <div class="centre">
    <h > <strong> Find me on social networks: </strong></h>
    <br/> <br/>
    <a
          href="https://www.facebook.com/ilhem.ben.1654/"
          
          target="_blank" 
          rel="noopener noreferrer"
        >
      <i class="fab fa-facebook-f mx-2"></i>
    </a>
   
    <a
          href="https://www.linkedin.com/in/ilhem-benhafsa-4749b21a3/"
          
          target="_blank" 
          rel="noopener noreferrer"
        >

           <i class="fab fa-linkedin mx-2"></i>
       </a>
       <a
          href="https://github.com/ilhem22"
          
          target="_blank" 
          rel="noopener noreferrer"
        >
         <i class="fab fa-github mx-2"></i>
         </a>
  </div>
  
  <br></br>
  </Row>
  
 

    <Row >
      <div class="centre my-3">
       Copyright &copy; Devloped by <strong className="rose"> BENHAFSA Ilhem </strong>
      </div>
    </Row>

