<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      

        <title>Blog</title>
        

        
        <style>
          
            .card{
                
               padding: 20px;
                
            }
            .container{
                display: flex;
                flex-direction: row;
            }
           
             
            
        </style>
        
    </head>

    <body>
        {% extends 'base.html' %}
        {% load static %}
        {% block content %}
        
<div class="container">
     <div class="row">
        {% for article in liste_articles %}
        <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3 p-2">
            <div class="card ">
                {% if article.image == "http://default" %}
                <img class="card-img-top" src= "{% static 'img/Nosvg.png' %}"alt ="card image cap" style="height: 200px;" >
                {% else %}

                <img class="card-img-top" src= "{{ article.image.url }}" alt ="card image cap" style="height: 200px;" >
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title"> <a href="{% url 'detail' article.id %}"> {{article.title}} </a></h4>
                    <p class="card-text"> {{article.desc| truncatewords:8}}</p>
                    <p class="card-text"> publié il ya {{article.created_at|timesince}}</p>
                    <a href="{% url 'detail' article.id %}" class="btn btn-primary"> lire la suite </a>
                </div>
            </div>

        </div>
        {% endfor %}  
     </div>
        
       
              
        
        
        
  <script> src="js/bootstrap.min.js"</script>      
     
</div>

</body>
</html>